[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
	ignore = untracked
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
	ignore = untracked
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
	ignore = untracked
[submodule "bundle/ConflictDetection"]
	path = bundle/ConflictDetection
	url = https://github.com/vim-scripts/ConflictDetection.git
	ignore = untracked
[submodule "bundle/ConflictMotions"]
	path = bundle/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
	ignore = untracked
[submodule "bundle/CountJump"]
	path = bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
	ignore = untracked
[submodule "bundle/diffoffer"]
	path = bundle/diffoffer
	url = https://github.com/0/vim-diffoffer.git
	ignore = untracked
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
	ignore = untracked
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
	ignore = untracked
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/bogado/file-line.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
	ignore = untracked
[submodule "bundle/julia"]
	path = bundle/julia
	url = https://github.com/JuliaLang/julia-vim.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/NERD-Commenter"]
	path = bundle/NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/neverland"]
	path = bundle/neverland
	url = https://github.com/0/neverland-vim-theme
	ignore = untracked
[submodule "bundle/notes"]
	path = bundle/notes
	url = https://github.com/vim-scripts/notes.vim.git
	ignore = untracked
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/racket"]
	path = bundle/racket
	url = https://github.com/wlangstroth/vim-racket.git
	ignore = untracked
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "bundle/signature"]
	path = bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
	ignore = untracked
[submodule "bundle/slime"]
	path = bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
	ignore = untracked
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = untracked
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/vim-scripts/speeddating.vim.git
	ignore = untracked
[submodule "bundle/splice"]
	path = bundle/splice
	url = https://github.com/sjl/splice.vim.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/textobj-word-column"]
	path = bundle/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
	ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = untracked
[submodule "bundle/xolox-misc"]
	path = bundle/xolox-misc
	url = https://github.com/xolox/vim-misc.git
	ignore = untracked
